.container {
  padding: 30px;
  text-align: center;
}


.titulo {
  margin-bottom: 30px;
}


.card {
  width: 300px;
  margin: 15px auto;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
}


.total {
  font-weight: bold;
  font-size: 18px;
}